.speedboxes-selection {
  border: 1px solid #0b69b9;
  background: #0b69b9;
  background: rgba(11, 110, 195, 0.33);
}
.speedboxes-selected {
  outline: 3px solid #0b69b9;
}
.speedboxes-popup {
  border: 1px solid #0b69b9;
  border-radius: 2px;
  background: #eee; /* Old browsers */
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.165);
}
.speedboxes-action {
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #0b69b9;
  border-right: 1px solid #0b69b9;
  font-size: 1em;
}
.speedboxes-action:hover {
  text-decoration: none;
  color: #fff;
  background: #0e86ed; /* Old browsers */
}
.speedboxes-action.speedboxes-active-action {
  cursor: default;
  color: #666;
  background: #bbb; /* Old browsers */
}
.speedboxes-action-reverse {
  border-right: none;
}
